.footer {
  background-color: #774444;
  padding: 20px 10px;
  color: var(--text-gray);
  font-size: 15px
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}

.hospital {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px 0;
  color: #f1f1f1;
  font-weight: 600;
  font-size: 20px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.8;
  color: #ffffff70;
}

.infoItem {
  display: inline-flex;
  font-weight: 500;
  white-space: nowrap;
}

.divider {
  margin: 0 10px;
  color: var(--border-gray);
  font-size: 12px;
}

.copy {
  font-size: 15px;
  color: #999;
  text-align: right;
  margin-top: 30px;
  padding: 10px;
  /* border-top: 1px solid var(--border-gray); */
}

@media (max-width: 768px) {
  .info {
    font-size: 13px;
     line-height: 1.5;
  }
  .copy {
    font-size: 12px;
  }
}